<footer id="fh5co-footer" class="fh5co-bg" style="background-image: url(images/img_bg_1.jpg);" role="contentinfo">
    <div class="overlay"></div>
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
                <span><img class="img-responsive" src="images/logo2.png" alt=""></span>
                <h3>Christodoulaki Stella,</h3>
                <h3>Krav Maga</h3> 
                {{!-- <p><a class="btn btn-primary" href="#">Become A Member</a></p> --}}
            </div>
            <div class="col-md-4 text-center ">
                <h3>ΤΑΞΕΙΣ</h3>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="fh5co-footer-links">
                        <li><a href="#">Krav Maga Ενηλικές</a></li>
                        <li><a href="#">Krav Maga Γυναίκες</a></li>
                        <li><a href="#">Krav Maga Kids</a></li>
                        <li><a href="#">Stay Away</a></li>
                        <li><a href="#">Kick Boxing</a></li>
                        <li><br></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <h3>ΕΠΙΚΟΙΝΩΝΙΑ</h3>
                <ul class="fh5co-footer-links">
                    <li><i class="icon-phone"><a href="tel://+30694581974"> +30 694581974</a></i></li>
                    <li><i class="icon-mail"><a href="mailto:stella_christodou@yahoo.gr"> stella_christodou@yahoo.gr</a></i></li>
                    <li><a href="#map"> Εθνάρχου Μακαρίου 31Α, Περιστέρι, Ελλάδα </a></li>
                </ul>
                <br>
                <h3>SOCIAL MEDIA</h3>
                <ul class="fh5co-social-icons">
                    {{!-- <li><a href="#"><i class="icon-twitter"></i></a></li> --}}
                    <li><a href="https://www.facebook.com/Krav-Maga-for-All-IKMF_-Instructor-Stella-Christodoulaki-454137074698530/" target="_blank"><i class="icon-facebook"></i></a></li>
                    {{!-- <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-dribbble"></i></a></li> --}}
                </ul>
            </div>
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2019 Free HTML5. All Rights Reserved.</small> 
                    <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">NooBash.co</a></small>
                </p>
                {{!-- <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </p> --}}
            </div>
        </div>

    </div>
</footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>


    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="../js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="../js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="../js/jquery.stellar.min.js"></script>
    <!-- Carousel -->
    <script src="../js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="../js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/magnific-popup-options.js"></script>

    <!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPfZNH28UrgNqsQbJE-ddnwgruIlQWRPY&sensor=false"></script>
	<script src="js/google_map.js"></script>

    <!-- Main -->
    <script src="../js/main.js"></script>