<div class="fh5co-loader"></div>

<div id="page">
<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="num">Τηλ:<a href="tel://+30694581974">+30 694581974</a> | <a class='adress' href="#map"></a></p>
                    <ul class="fh5co-social">
                        <li><a href="https://www.facebook.com/Krav-Maga-for-All-IKMF_-Instructor-Stella-Christodoulaki-454137074698530/" target="_blank"><i class="icon-facebook"></i></a></li>
                        {{!-- <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li> --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="/"><span><img class="img-responsive" src="images/logo.jpg" alt=""></span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="/">HOME</a></li>
                        <li><a href="/#fh5co-gallery">ΓΚΑΛΕΡΙ</a></li>
                        <li><a href="/#fh5co-schedule">Προγραμμα</a></li>
                        <li><a href="/#fh5co-trainer">Εκπαιδευτες</a></li>
                        {{!-- <li><a href="pricing.html">Pricing</a></li> --}}
                        {{!-- <li class="has-dropdown">
                            <a href="blog.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </li> --}}
                        <li><a href="/contact">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>