	
<header id="fh5co-header" >
	<div class="overlay"></div>
	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="fh5co-contact-info">
						<h3>Πληροφορίες Επικοινωνίας</h3>
						<ul>
							<li class="address"><a href="#map">Εθνάρχου Μακαρίου 31Α, Περιστέρι, 1ος όροφος </a></li>
							<li class="phone"><a href="tel://+302105778547"+30 2105778547</a></li>
							<li class="phone"><a href="tel://+30694581974">+30 694581974</a></li>
							<li class="email"><a href="mailto:stella_christodou@yahoo.gr">stella_christodou@yahoo.gr</a></li>
						</ul>
					</div>

				</div>
				<div class="col-md-6 animate-box">
					<h3>Φόρμα Επικοινωνίας</h3>
						<div class="row form-group">
							<div class="col-md-6">
								<!-- <label for="fname">First Name</label> -->
								<input type="text" id="fname" class="form-control" placeholder="Όνομα">
							</div>
							<div class="col-md-6">
								<!-- <label for="lname">Last Name</label> -->
								<input type="text" id="lname" class="form-control" placeholder="Επίθετο">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Email</label> -->
								<input type="text" id="email" class="form-control" placeholder="email">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="subject">Subject</label> -->
								<input type="text" id="subject" class="form-control" placeholder="Θέμα">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="message">Message</label> -->
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Μήνυμα"></textarea>
							</div>
						</div>
						<div class="form-group">
							<button id='contact-button'  value="Αποστολή" class="btn btn-primary" data-toggle="modal" data-target="#ModalContact">Αποστολή</button>
						</div>	
				</div>
			</div>
			
		</div>
</div>
	{{!-- <div class="container">
		<div class="row">
			
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>ΕΠΙΚΟΙΝΩΝΙΑ</h1>
					</div>
				</div>
			</div>
			
		</div>
	</div> --}}
</header>
<div id="map" class="fh5co-map"></div>
		<!-- END map -->


<div class="modal fade" id="ModalContact" tabindex="-1" role="dialog" aria-labelledby="ModalContact" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        {{!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Christodoulaki Video</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
      </div> --}}
		{{!-- <div class="alert alert-success" role="alert">
		Email Send.
		</div> --}}
    </div>
  </div>
</div>
