{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#list people}}
{{#if firstName}}
{{firstName}} {{lastName}}
{{/if}}
{{/list}} --}}
		

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/banner_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Christodoulaki Stella</h1>
                        <h1>Krav Maga AAAAAAAAAAA</h1>
                        <h2>Martial Arts<a href="http://freehtml5.co/" target="_blank"></a></h2>
                        <button type="button" class="btn btn-primary popup-vimeo" data-toggle="modal" data-target="#ModalCenter">
                            Check The Video
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        {{!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Christodoulaki Video</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
      </div> --}}
      <div class="modal-body">
        <iframe id="Modalvideo" width="560" height="315" src="https://www.youtube.com/embed/bTN9RsAgamw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="services">
                    <span><img class="img-responsive" src="images/Krav_Maga.svg" alt=""></span>
                    <h3>Krav Maga</h3>
                    <p>Tο Κραβ Μαγκά είναι ένα σύστημα αυτοάμυνας που διδάσκει πώς να αποφεύγονται, να αντιμετωπίζονται και να ξεπερνιούνται όλων των ειδών οι επιθέσεις και η βία.</p>
                    {{!-- <p><a href="#" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p> --}}
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
                    <span><img class="img-responsive" src="images/Stay_Away.png" alt=""></span>
                    <h3>Stay Away</h3>
                    <p>“Μείνει μακριά”, είναι ένα αποτελεσματικό πρόγραμμα ενάντια στη σεξουαλική παρενόχληση και κακοποίηση των γυναικών. Τονώνει την αυτοπεποίθησή τους γιατί πλέον δεν είναι το αδύναμο φύλο.</p>
                    {{!-- <p><a href="#" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p> --}}
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
                    <span><img class="img-responsive" src="images/two-boxing-gloves.svg" alt=""></span>
                    <h3>Kick Boxing</h3>
                    <p>Το kickboxing είναι μαχητικό άθλημα που συνδυάζει πυγμαχία και λακτίσματα και απευθύνεται σε άνδρες, γυναίκες, ακόμα και σε παιδιά, γυμνάζει ολόκληρο το σώμα κινητοποιώντας πολλές μυϊκές ομάδες.</p>
                    {{!-- <p><a href="#" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p> --}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-trainer">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Οι ΕΚΠΑΙΔΕΥΤΕΣ ΜΑΣ</h2>
                {{!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> --}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6  col-md-offset-2 animate-box">
                <div class="trainer">
                    <a href="#"><img class="img-responsive" src="images/trainer-1.jpg" alt="trainer"></a>
                    <div class="title">
                        <h3><a href="#">ΧΡΙΣΤΟΔΟΥΛΑΚΗ ΣΤΕΛΛΑ</a></h3>
                        <span>ΚΥΡΙΑ ΕΚΠΕΔΕΥΤΗΣ</span>
                    </div>
                    <div class="desc text-center">
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box">
                <div class="trainer">
                    <a href="#"><img class="img-responsive" src="images/trainer-2.jpg" alt="trainer"></a>
                    <div class="title">
                        <h3><a href="#">ΧΑΓΙΑΝΝΗ ΛΙΑ</a></h3>
                        <span>ΕΚΠΑΙΔΕΥΤΡΙΑ  KRAV-MAGA</span>
                    </div>
                    <div class="desc text-center">
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-schedule" class="fh5co-bg" style="background-image: url(images/img_bg_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Προγραμμα</h2>
            </div>
        </div>

        <div class="row animate-box">
            
            <div class="fh5co-tabs">
                <ul class="fh5co-tab-nav">
                    <li><span class="visible-xs">Δευ</span><span class="hidden-xs">ΔΕΥΤΕΡΑ</span></li>
                    <li><span class="visible-xs">Τρι</span><span class="hidden-xs">ΤΡΙΤΗ</span></li>
                    <li><span class="visible-xs">Τετ</span><span class="hidden-xs">ΤΕΤΑΡΤΗ</span></li>
                    <li><span class="visible-xs">Πεμ</span><span class="hidden-xs">ΠΕΜΠΤΗ</span></li>

                    <li><span class="visible-xs">Παρ</span><span class="hidden-xs">ΠΑΡΑΣΚΕΥΗ</span></li>
                    {{!-- <li><a href="#" data-tab="6"><span class="visible-xs">F</span><span class="hidden-xs">Friday</span></a></li>
                    <li><a href="#" data-tab="7"><span class="visible-xs">S</span><span class="hidden-xs">Saturday</span></a></li> --}}
                </ul>

                <!-- Tabs -->
                <div class="fh5co-tab-content-wrap">
                    <div class="fh5co-tab-content tab-content active" data-tab-content="1">
                        <ul class="class-schedule">
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">17:45  - 18:30</span>
                                <h4> KRAV MAGA - KIDS</h4>
                                <small><span class="visible-xs">ΑΡΧ.</span><span class="hidden-xs">ΑΡΧΑΡΙΟΙ</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">17:45  - 18:30</span>
                                <h4> KRAV MAGA - KIDS</h4>
                                <small><span class="visible-xs">ΠΡΟΧ.</span><span class="hidden-xs">ΠΡΟΧΩΡHMENOI</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">17:45  - 18:30</span>
                                <h4> KRAV MAGA - KIDS</h4>
                                <small><span class="visible-xs">ΑΡΧ.</span><span class="hidden-xs">ΑΡΧΑΡΙΟΙ</span></small>                                
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">17:45  - 18:30</span>
                                <h4> KRAV MAGA - KIDS</h4>
                                <small><span class="visible-xs">ΠΡΟΧ.</span><span class="hidden-xs">ΠΡΟΧΩΡHMENOI</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">17:45  - 18:30</span>
                                <h4> KRAV MAGA - JUNIOR</h4>
                                <small > - </small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">18:30  - 19:30</span>
                                <h4> KRAV MAGA - ΕΝΗΛΙΚΕΣ</h4>
                                <small><span class="visible-xs">ΑΡΧ.</span><span class="hidden-xs">ΑΡΧΑΡΙΟΙ</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">18:30  - 19:30</span>
                                <h4> KRAV MAGA - ΕΝΗΛΙΚΕΣ</h4>
                                <small><span class="visible-xs">ΑΡΧ.</span><span class="hidden-xs">ΑΡΧΑΡΙΟΙ</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Stay_Away.png" class="img-responsive" alt=""></span>
                                <span class="time">18:30  - 19:30</span>
                                <h4>STAY AWAY</h4>
                                <small><span style="padding-top: 14px;" class="visible-xs">ΓΥΝ.</span><span class="hidden-xs">ΓΥΝΑΙΚΕΣ</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">18:30  - 19:30</span>
                                <h4> KRAV MAGA - ΕΝΗΛΙΚΕΣ</h4>
                                <small><span class="visible-xs">ΑΡΧ.</span><span class="hidden-xs">ΑΡΧΑΡΙΟΙ</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">18:30  - 19:30</span>
                                <h4> KRAV MAGA - MIX</h4>
                                <small style="font-size: 70%"><span class="visible-xs">ΕΝΔ. & ΠΡΟΧ.</span><span class="hidden-xs">ΕΝΔΙΑΜΕΣΟΙ & ΠΡΟΧΩΡHMENOI</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">19:30  - 20:30</span>
                                <h4> KRAV MAGA - ΕΝΗΛΙΚΕΣ</h4>
                                <small><span class="visible-xs">ΠΡΟΧ.</span><span class="hidden-xs">ΠΡΟΧΩΡHMENOI</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">19:30  - 20:30</span>
                                <h4> KRAV MAGA - ΕΝΗΛΙΚΕΣ</h4>
                                <small><span class="visible-xs">ΕΝΔ.</span><span class="hidden-xs">ΕΝΔΙΑΜΕΣΟΙ</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">19:30  - 20:30</span>
                                <h4> KRAV MAGA - ΕΝΗΛΙΚΕΣ</h4>
                                <small><span class="visible-xs">ΠΡΟΧ.</span><span class="hidden-xs">ΠΡΟΧΩΡHMENOI</span></small>                                
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">19:30  - 20:30</span>
                                <h4> KRAV MAGA - ΕΝΗΛΙΚΕΣ</h4>
                                <small><span class="visible-xs">ΕΝΔ.</span><span class="hidden-xs">ΕΝΔΙΑΜΕΣΟΙ</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/Krav_Maga.svg" class="img-responsive" alt=""></span>
                                <span class="time">19:30  - 20:30</span>
                                <h4> KRAV MAGA</h4>
                                <small><span style="padding-top: 14px;" class="visible-xs">ΓΥΝ.</span><span class="hidden-xs">ΓΥΝΑΙΚΕΣ</span></small>
                            </li>
                            {{!-- 20:30  - 21:30 --}}
                            <li class="text-center">
                                <span><img src="images/Stay_Away.png" class="img-responsive" alt=""></span>
                                <span class="time">20:30  - 21:30</span>
                                <h4>STAY AWAY</h4>
                                <small><span style="padding-top: 14px;" class="visible-xs">ΓΥΝ.</span><span class="hidden-xs">ΓΥΝΑΙΚΕΣ</span></small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/two-boxing-gloves.svg" class="img-responsive" alt=""></span>
                                <span class="time">20:30  - 21:30</span>
                                <h4>KICK BOXING</h4>
                                <small>-</small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/two-boxing-gloves.svg" class="img-responsive" alt=""></span>
                                <span class="time">20:30  - 21:30</span>
                                <h4>KICK BOXING</h4>
                                <small>-</small>
                            </li>
                            <li class="text-center">
                                {{!-- <span><img src="images/two-boxing-gloves.png" class="img-responsive" alt=""></span> --}}
                                {{!-- <span class="time">20:30  - 21:30</span> --}}
                                <h4 style="margin-top: 80px;margin-bottom: 72px;">CLOSED</h4>
                                <small>-</small>
                            </li>
                            <li class="text-center">
                                <span><img src="images/two-boxing-gloves.svg" class="img-responsive" alt=""></span>
                                <span class="time">20:30  - 21:30</span>
                                <h4>KICK BOXING</h4>
                                <small>-</small>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="fh5co-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>ΓΚΑΛΕΡΙ</h2>
                {{!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> --}}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-bottom-padded-md">
            <div class="col-md-12">
                <ul id="fh5co-portfolio-list">

                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/stella1.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>KRAV MAGA</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/stella2.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>KRAV MAGA</h2>
                            </div>
                        </a>
                    </li>

                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/stella3.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>KRAV MAGA</h2>
                            </div>
                        </a>
                    </li>

                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/stella8.jpg); "> 
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>KRAV MAGA</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/stella_kinds.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>KRAV MAGA-KIDS</h2>
                            </div>
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/stella4.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>KRAV MAGA</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/stella6.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>KRAV MAGA</h2>
                            </div>
                        </a>
                    </li>
                </ul>		
            </div>
        </div>
    </div>
</div>


{{!-- <div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Recent Blog</h2>
                {{!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> --}}
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-lg-4 col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/gallery-4.jpg" alt=""></a>
                    <div class="blog-text">
                        <h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                        <span class="posted_on">Sep. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div> 
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/gallery-2.jpg" alt=""></a>
                    <div class="blog-text">
                        <h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                        <span class="posted_on">Sep. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div> 
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/gallery-3.jpg" alt=""></a>
                    <div class="blog-text">
                        <h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                        <span class="posted_on">Sep. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> --}}

<div id="map" class="fh5co-map"></div>
		<!-- END map -->
