.day-header {
    position: absolute;
    width: 100%;
    display: block;
    padding: 30px 0;
    top: 0;
    background-color: #252525;
}


.columns:last-child {
    margin-bottom: -10px;
}

.columns {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.column {
    width: 161px;
    padding: 0px;
}

.column {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 10px;
}